<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img width="50" alt="Temedica" title="Temedica" src="/assets/temedica-short-logo.png" class="img-thumbnail">
  </a>

  <div class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/chat">Chat</a>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <li *ngIf="username; else anonymousUser">
        <a class="nav-link" (click)="logout()">
          {{username}}
        </a>
      </li>
    </ul>
  </div>

</nav>
