<div class="container-fluid">

  <div class="row size">
    <app-message-list></app-message-list>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form" novalidate class="form-inline" (submit)="send()">

        <textarea class="form-control col-sm-10" rows="1" formControlName="message" maxlength="{{ maxlength }}"></textarea>
        <button type="submit" class="btn btn-success" [disabled]="!form.valid" title="Send">
          Send
        </button>

      </form>
    </div>
  </div>

</div>

