<div>
  <ng-template #user>
    <span class="box text-right">
      {{ message.text }}
      <button *ngIf="!isClosed"
              class="btn btn-danger btn-sm"
              title="Close conversation with Temedica Support Team"
              (click)="close()">
        Close
      </button>
    </span>
  </ng-template>
  <div *ngIf="message.channel === 'support'; else user">
    <i class="fa fa-phone xsmall">Temedica Support</i>
    <span class="box text-left">{{ message.text }}</span>
  </div>

</div>

