ul {
  width: 950px;
  height: 0px;
}

li {
  list-style-type: none;
  width: 975px;
}

.scrollable {
  height: 675px;
  overflow: auto;
  width: 68em;
  border: 1px solid grey;
  box-shadow: 5px 5px 2px lightgrey;
  border-radius: 2px;
  padding-top: 5px;
}


